:root {
  --blue: hsl(246, 80%, 60%);
  --work: hsl(15, 100%, 70%);
  --play: hsl(195, 74%, 62%);
  --study: hsl(348, 100%, 68%);
  --exercise: hsl(145, 58%, 55%);
  --social: hsl(264, 64%, 52%);
  --self-care: hsl(43, 84%, 65%);
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --paleblue: hsl(236, 100%, 87%);
  --card-font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.background-container {
  background-color: var(--very-dark-blue);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#card-containers {
  display: flex;
  width: 100%;
  max-width: 70%;
}
.first-part {
  background-color: var(--blue);
  border-radius: 15px;
  flex: 1;
}

.first-part .image {
  margin: 30px 20px 50px 20px;
}
.first-part .report {
  color: white;
  opacity: 0.4;
  font-weight: 500;
  margin-bottom: 10px;
  padding: 10px 20px 5px 20px;
}
.first-part .name {
  color: var(--paleblue);
  font-weight: 400;
  padding-left: 20px;
}

.second-part {
  background-color: var(--dark-blue);
  border-radius: 15px;
  height: 100%;
  width: 240px;
  display: flex;
  flex-direction: column;
}
.second-part .activities {
  padding-top: 15px;
  padding-left: 20px;
  color: var(--desaturated-blue);
  font-weight: 400;
  cursor: pointer;
}
.second-part .activities:first-of-type {
  padding-top: 20px;
}
.second-part .activities:last-of-type {
  padding-bottom: 20px;
}

.second-part .active {
  color: white;
  font-weight: 500;
}
#all-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  height: 100%;
}
.outside-card {
  position: relative;
  padding-top: 30px;
  border-radius: 20px;
  z-index: 10;
  color: white;
  margin: 15px;
}
.outside-card .image {
  position: absolute;
  right: 0;
  top: -1px;
  z-index: -4;
}
.inside-card {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 180px;
  border-radius: 16px;
  margin-top: 15px;
  padding: 15px 20px;
}
.inside-card:hover {
  cursor: pointer;
  background-color: var(--desaturated-blue);
}
.inside-card h1 {
  font-size: 50px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 5px;
}
.inside-card .last-hour {
  color: var(--paleblue);
  font-size: 14px;
}
.items {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.items p {
  cursor: pointer;
}
.items p:nth-child(2) {
  color: hsl(235, 45%, 61%);
  font-size: 20px;
}
.items p:nth-child(2):hover {
  color: white;
}

@media screen and (max-width: 1142px) {
  .background-container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding-bottom: 50px;
  }
  .first-part .name {
    margin-bottom: 20px;
  }
  #card-containers {
    flex-direction: column;
    max-width: 100%;
    margin-top: 50px;
  }
  .first-card {
    padding-left: 20px;
  }
  #all-cards {
    flex-direction: column;
    margin: 0;
  }
  .inside-card {
    width: 100%;
  }
  .statastics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .statastics .activities:first-of-type,
  .statastics .activities:last-of-type {
    padding: 0;
    margin: 0;
  }
  .statastics .activities {
    padding: 0;
    margin: 0;
  }
}
